@page "/contactdetails"
@page "/contactdetails/{id:int}"

@inject IContactService ContactService
@inject NavigationManager NavigationManager

@if (contact == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenTemplateForm Data="@contact">
        <div class="card">
            <h5 class="card-header">Contact Details</h5>
            <div class="card-body">
                <div class="container">

                    <RadzenFieldset Text="Contact Details">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="">First Name</label>
                                <RadzenTextBox class="form-control" @bind-Value="contact.FirstName"/>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="">Last Name</label>
                                <RadzenTextBox class="form-control"  @bind-Value="contact.LastName" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label for="">Phone</label>
                                <RadzenTextBox class="form-control" @bind-Value="contact.Phone" />
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label for="">Adress</label>
                                <RadzenTextArea class="form-control" @bind-Value="contact.Address" />
                            
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4 mb-3">
                            </div>
                            <div class="col-md-4 mb-3">
                                <RadzenButton Variant="Variant.Flat" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Success" Click="@(arg => Save())" />
                                <RadzenButton Variant="Variant.Flat" Text="Cancel" ButtonStyle="ButtonStyle.Secondary" Click="@(arg => Cancel())" />

                            </div>
                            <div class="col-md-4 mb-3">
                            </div>
                        </div>

                    </RadzenFieldset>


                </div>
            </div>
        </div>


    </RadzenTemplateForm>


   @* <EditForm Model="contact">

        <div class="card">
            <h5 class="card-header">Contact Details</h5>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="">First Name</label>
                            <input class="form-control" @bind="contact.FirstName"></input>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="">Last Name</label>
                            <input class="form-control" @bind="contact.LastName"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="">Phone</label>
                            <input class="form-control" @bind="contact.Phone"></input>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="">Adress</label>
                            <input class="form-control" @bind="contact.Address"></input>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                        </div>
                        <div class="col-md-4 mb-3">
                            <input type="submit" class="btn btn-success" value="Save" @onclick="Save" />
                            <input type="button" class="btn btn-secondary" value="Cancel" @onclick="Cancel" />

                        </div>
                        <div class="col-md-4 mb-3">
                        </div>
                    </div>


                </div>
            </div>
        </div>




    </EditForm>
*@
}



@code {
    //public Contact contact;
    public Contact contact = new Contact();

    [Parameter]
    public int id { get; set; }

    //método que se carga al iniciar todo el componente.
    protected async override Task OnInitializedAsync() 
    {
        if (id == 0)
            contact = new Contact();
        else
            contact = await ContactService.GetDetails(id);
    }

    protected async Task Save()
    {

        await ContactService.SaveContact(contact);
        NavigationManager.NavigateTo("/");
    }

    protected void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
}
